* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-size: 18px;
  overflow: hidden;
  background: #262626; }

ul {
  list-style-type: none !important; }

@keyframes lineani {
  0% {
    stroke-dashoffset: 2000px;
    stroke-width: 0.3; }
  100% {
    stroke-dashoffset: 0px;
    stroke-width: 0.7; } }
section#loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: height 1s ease-out;
  z-index: 0; }
  section#loader #frame {
    width: 70vh;
    height: 70vh;
    position: relative;
    z-index: 1; }
    section#loader #frame .inactive {
      display: none; }
    section#loader #frame #box {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0; }
      section#loader #frame #box div {
        width: 100%;
        height: 100%;
        position: absolute; }
      section#loader #frame #box #logotext {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        color: #fff;
        font-weight: bold;
        font-family: sans-serif;
        opacity: 0;
        transition: opacity 1s ease-out; }
      section#loader #frame #box #realmsOfFiction {
        position: absolute;
        top: 77%;
        height: 33px;
        width: 95%;
        right: 4%;
        background: url(../img/realmsoffiction.png) no-repeat right;
        background-size: contain; }
      section#loader #frame #box #date {
        position: relative;
        display: flex;
        justify-content: center;
        top: 86%;
        height: auto;
        width: 100%;
        font-size: 2.5vh;
        font-family: Azo Sans Regular; }
      section#loader #frame #box #o17 {
        position: absolute;
        left: 94%;
        top: 36%;
        width: 45px;
        height: 45px;
        background: url(../img/17.png) no-repeat right;
        background-size: contain; }
    section#loader #frame svg {
      width: 100%;
      height: 100%; }
      section#loader #frame svg * {
        stroke-dasharray: 2000px;
        stroke-dashoffset: 2000px;
        stroke: #ffffff; }
      section#loader #frame svg .first {
        transition: 4s stroke-dashoffset cubic-bezier(0.7, 0.3, 0, 1);
        transition-delay: 0s; }
      section#loader #frame svg .second {
        transition: 5s stroke-dashoffset cubic-bezier(0.7, 0.3, 0, 1);
        transition-delay: 2s; }
      section#loader #frame svg .first:nth-of-type(1) {
        animation-delay: 0.2s;
        animation-duration: 2.75s; }
      section#loader #frame svg .first:nth-of-type(2) {
        animation-delay: 0.4s;
        animation-duration: 3.5s; }
      section#loader #frame svg .first:nth-of-type(3) {
        animation-delay: 0.6s;
        animation-duration: 4.25s; }
      section#loader #frame svg .first:nth-of-type(4) {
        animation-delay: 0.8s;
        animation-duration: 5s; }
      section#loader #frame svg .first:nth-of-type(5) {
        animation-delay: 1s;
        animation-duration: 5.75s; }
      section#loader #frame svg .first:nth-of-type(6) {
        animation-delay: 1.2s;
        animation-duration: 6.5s; }
      section#loader #frame svg .second:nth-of-type(1) {
        animation-delay: 1.2s;
        animation-duration: 2.75s; }
      section#loader #frame svg .second:nth-of-type(2) {
        animation-delay: 1.4s;
        animation-duration: 3.5s; }
      section#loader #frame svg .second:nth-of-type(3) {
        animation-delay: 1.6s;
        animation-duration: 4.25s; }
      section#loader #frame svg .second:nth-of-type(4) {
        animation-delay: 1.8s;
        animation-duration: 5s; }
      section#loader #frame svg .second:nth-of-type(5) {
        animation-delay: 2s;
        animation-duration: 5.75s; }
      section#loader #frame svg .second:nth-of-type(6) {
        animation-delay: 2.2s;
        animation-duration: 6.5s; }
      section#loader #frame svg .second:nth-of-type(7) {
        animation-delay: 2.4s;
        animation-duration: 7.25s; }
      section#loader #frame svg .second:nth-of-type(8) {
        animation-delay: 2.6s;
        animation-duration: 8s; }
      section#loader #frame svg .second:nth-of-type(9) {
        animation-delay: 2.8s;
        animation-duration: 8.75s; }
      section#loader #frame svg .second:nth-of-type(10) {
        animation-delay: 3s;
        animation-duration: 9.5s; }
      section#loader #frame svg .second:nth-of-type(11) {
        animation-delay: 3.2s;
        animation-duration: 10.25s; }
      section#loader #frame svg .second:nth-of-type(12) {
        animation-delay: 3.4s;
        animation-duration: 11s; }
      section#loader #frame svg .second:nth-of-type(13) {
        animation-delay: 3.6s;
        animation-duration: 11.75s; }
      section#loader #frame svg .second:nth-of-type(14) {
        animation-delay: 3.8s;
        animation-duration: 12.5s; }
      section#loader #frame svg .second:nth-of-type(15) {
        animation-delay: 4s;
        animation-duration: 13.25s; }
      section#loader #frame svg .second:nth-of-type(16) {
        animation-delay: 4.2s;
        animation-duration: 14s; }
      section#loader #frame svg .second:nth-of-type(17) {
        animation-delay: 4.4s;
        animation-duration: 14.75s; }

#Events {
  position: absolute;
  top: 75%;
  left: 50%;
  font-size: 1.5em;
  background: #FFE14A;
  font-family: "Azo Sans Bold";
  padding: 6px 10px 0 10px;
  color: #262626;
  transform: translateX(-50%);
  white-space: nowrap;
  transition: 0.4s all ease-in;
  z-index: 1; }
  #Events:hover {
    background: #FC0C84;
    color: #fff;
    cursor: pointer; }

#Landing {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  flex-direction: column;
  justify-content: space-between;
  transition: opacity 1s ease-out; }
  #Landing header {
    display: flex;
    position: relative;
    flex-direction: column; }
    #Landing header nav {
      display: flex;
      justify-content: space-between; }
      #Landing header nav ul {
        font-family: "Azo Sans Regular";
        display: flex;
        width: 30%;
        color: #fff;
        justify-content: space-around;
        padding-left: 20px; }
        #Landing header nav ul li {
          height: 75px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          font-size: 1rem;
          position: relative; }
          #Landing header nav ul li:hover {
            cursor: pointer; }
          #Landing header nav ul li::after {
            position: absolute;
            left: 50%;
            top: calc(50% + 15px);
            content: "";
            width: 0;
            height: 1px;
            background: #fff;
            transform: translateX(-50%);
            transition: 0.3s all cubic-bezier(1, 0, 0, 1); }
          #Landing header nav ul li:hover::after {
            width: 100%; }
      #Landing header nav #Register {
        margin-right: 30px;
        margin-top: 30px;
        font-size: 2em;
        background: #FC0C84;
        font-family: "Azo Sans Bold";
        padding: 6px 10px 0 10px;
        color: #fff;
        transition: 0.4s all ease-in;
        cursor: pointer; }
        #Landing header nav #Register:hover {
          background: #FFE14A;
          color: #262626;
          cursor: pointer; }
  #Landing footer {
    display: flex;
    flex-direction: column-reverse;
    position: relative; }
    #Landing footer nav {
      background: #fff;
      font-family: "Azo Sans Regular";
      display: flex;
      position: relative;
      height: 70px;
      overflow: hidden; }
      #Landing footer nav ul {
        display: flex;
        width: 90%;
        color: #262626;
        flex: 3; }
        #Landing footer nav ul li {
          padding: 0 30px;
          height: 100%;
          display: flex;
          align-items: center;
          white-space: nowrap;
          font-size: 0.8em;
          align-self: center;
          position: relative; }
          #Landing footer nav ul li:hover {
            cursor: pointer; }
          #Landing footer nav ul li::after {
            position: absolute;
            left: 50%;
            top: calc(50% + 15px);
            content: "";
            width: 0;
            height: 1px;
            background: #282828;
            transform: translateX(-50%);
            transition: 0.3s all cubic-bezier(1, 0, 0, 1); }
      #Landing footer nav #Aftermovie {
        padding-right: 20px;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        font-size: 0.8em;
        white-space: nowrap;
        color: #262626; }

footer > ul {
  height: 80px;
  display: flex;
  align-self: flex-end; }
  footer > ul li {
    width: 50px;
    margin: 0 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer; }
    footer > ul li.facebook {
      background-image: url(../img/facebook.svg); }
    footer > ul li.twitter {
      background-image: url(../img/twitter.svg); }
    footer > ul li.youtube {
      background-image: url(../img/youtube.svg); }
    footer > ul li.instagram, footer > ul li.github {
      background-image: url(../img/Instagram.svg);
      background-size: 70%; }

section#ham_menu {
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 0;
  top: 0;
  width: 300px;
  max-width: 100%;
  height: 100%;
  background: #fff url(../img/grid.png);
  transform: translateX(0);
  transition: 0.5s transform cubic-bezier(1, 0, 0, 1);
  z-index: 3;
  background-size: cover;
  font-family: "Azo Sans Regular"; }
  section#ham_menu aside.head {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5em 0 25px;
    margin: 10px 5px; }
    section#ham_menu aside.head span {
      height: 1.5em;
      font-size: 1.5em;
      align-self: center;
      min-width: 1.5em;
      padding-top: 6px; }
      section#ham_menu aside.head span.arrow {
        background: url(../img/arrow_back.png) no-repeat center;
        background-size: contain;
        height: 1em;
        transition: 0.2s transform cubic-bezier(1, 0, 0, 1);
        transform-origin: center; }
        section#ham_menu aside.head span.arrow:hover {
          transform: rotate(360deg);
          cursor: pointer; }
  section#ham_menu aside.nav {
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    overflow-y: auto; }
    section#ham_menu aside.nav div {
      margin: 15px 0;
      display: flex;
      flex-direction: column; }
      section#ham_menu aside.nav div span {
        padding: 8px 30px; }
  section#ham_menu.inactive {
    transform: translateX(-100%); }

#ham_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: transparent;
  z-index: 2;
  display: none; }

#loader {
  overflow: hidden; }
  #loader.loaded {
    height: calc(100% - 70px); }

body #box div:nth-child(1) {
  transition: all 0.34s 0.22s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.34s 0.02s; }
body #box div:nth-child(2) {
  transition: all 0.38s 0.24s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.38s 0.04s; }
body #box div:nth-child(3) {
  transition: all 0.42s 0.26s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.42s 0.06s; }
body #box div:nth-child(4) {
  transition: all 0.46s 0.28s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.46s 0.08s; }
body #box div:nth-child(5) {
  transition: all 0.5s 0.3s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.5s 0.1s; }
body #box div:nth-child(6) {
  transition: all 0.54s 0.32s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.54s 0.12s; }
body #box div:nth-child(7) {
  transition: all 0.58s 0.34s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.58s 0.14s; }
body #box div:nth-child(8) {
  transition: all 0.62s 0.36s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.62s 0.16s; }
body #box div:nth-child(9) {
  transition: all 0.66s 0.38s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.66s 0.18s; }
body #box div:nth-child(10) {
  transition: all 0.7s 0.4s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.7s 0.2s; }
body #box div:nth-child(11) {
  transition: all 0.74s 0.42s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.74s 0.22s; }
body #box div:nth-child(12) {
  transition: all 0.78s 0.44s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.78s 0.24s; }
body #box div:nth-child(13) {
  transition: all 0.82s 0.46s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.82s 0.26s; }
body #box div:nth-child(14) {
  transition: all 0.86s 0.48s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.86s 0.28s; }
body #box div:nth-child(15) {
  transition: all 0.9s 0.5s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.9s 0.3s; }
body #box div:nth-child(16) {
  transition: all 0.94s 0.52s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.94s 0.32s; }
body #box div:nth-child(17) {
  transition: all 0.98s 0.54s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.98s 0.34s; }
body #box div:nth-child(18) {
  transition: all 1.02s 0.56s cubic-bezier(0.7, 0.3, 0, 1), background-color 1.02s 0.36s; }
body #box div:nth-child(19) {
  transition: all 1.06s 0.58s cubic-bezier(0.7, 0.3, 0, 1), background-color 1.06s 0.38s; }
body #box div:nth-child(20) {
  transition: all 1.1s 0.6s cubic-bezier(0.7, 0.3, 0, 1), background-color 1.1s 0.4s; }
body #box div:nth-child(21) {
  transition: all 1.14s 0.62s cubic-bezier(0.7, 0.3, 0, 1), background-color 1.14s 0.42s; }
body #box div:nth-child(22) {
  transition: all 1.18s 0.64s cubic-bezier(0.7, 0.3, 0, 1), background-color 1.18s 0.44s; }
body #box div:nth-child(23) {
  transition: all 1.22s 0.66s cubic-bezier(0.7, 0.3, 0, 1), background-color 1.22s 0.46s; }
body #box div:nth-child(24) {
  transition: all 1.26s 0.68s cubic-bezier(0.7, 0.3, 0, 1), background-color 1.26s 0.48s; }
body #box div:nth-child(25) {
  transition: all 1.3s 0.7s cubic-bezier(0.7, 0.3, 0, 1), background-color 1.3s 0.5s; }
body #box div:nth-child(26) {
  transition: all 1.34s 0.72s cubic-bezier(0.7, 0.3, 0, 1), background-color 1.34s 0.52s; }
body #box div:nth-child(27) {
  transition: all 1.38s 0.74s cubic-bezier(0.7, 0.3, 0, 1), background-color 1.38s 0.54s; }
body #box div:nth-child(28) {
  transition: all 1.42s 0.76s cubic-bezier(0.7, 0.3, 0, 1), background-color 1.42s 0.56s; }
body #box div:nth-child(29) {
  transition: all 1.46s 0.78s cubic-bezier(0.7, 0.3, 0, 1), background-color 1.46s 0.58s; }
body #box div:nth-child(30) {
  transition: all 1.5s 0.8s cubic-bezier(0.7, 0.3, 0, 1), background-color 1.5s 0.6s; }
body #box div:nth-child(31) {
  transition: all 1.54s 0.82s cubic-bezier(0.7, 0.3, 0, 1), background-color 1.54s 0.62s; }
body #box div:nth-child(32) {
  transition: all 1.58s 0.84s cubic-bezier(0.7, 0.3, 0, 1), background-color 1.58s 0.64s; }
body #box div:nth-child(33) {
  transition: all 1.62s 0.86s cubic-bezier(0.7, 0.3, 0, 1), background-color 1.62s 0.66s; }
body #box div:nth-child(34) {
  transition: all 1.66s 0.88s cubic-bezier(0.7, 0.3, 0, 1), background-color 1.66s 0.68s; }
body #box div:nth-child(35) {
  transition: all 1.7s 0.9s cubic-bezier(0.7, 0.3, 0, 1), background-color 1.7s 0.7s; }
body #box div:nth-child(36) {
  transition: all 1.74s 0.92s cubic-bezier(0.7, 0.3, 0, 1), background-color 1.74s 0.72s; }
body #box div:nth-child(37) {
  transition: all 1.78s 0.94s cubic-bezier(0.7, 0.3, 0, 1), background-color 1.78s 0.74s; }
body #box div:nth-child(38) {
  transition: all 1.82s 0.96s cubic-bezier(0.7, 0.3, 0, 1), background-color 1.82s 0.76s; }
body #box div:nth-child(39) {
  transition: all 1.86s 0.98s cubic-bezier(0.7, 0.3, 0, 1), background-color 1.86s 0.78s; }
body #box div:nth-child(40) {
  transition: all 1.9s 1s cubic-bezier(0.7, 0.3, 0, 1), background-color 1.9s 0.8s; }
body #box div:nth-child(41) {
  transition: all 1.94s 1.02s cubic-bezier(0.7, 0.3, 0, 1), background-color 1.94s 0.82s; }
body #box div:nth-child(42) {
  transition: all 1.98s 1.04s cubic-bezier(0.7, 0.3, 0, 1), background-color 1.98s 0.84s; }
body #box div:nth-child(43) {
  transition: all 2.02s 1.06s cubic-bezier(0.7, 0.3, 0, 1), background-color 2.02s 0.86s; }
body #box div:nth-child(44) {
  transition: all 2.06s 1.08s cubic-bezier(0.7, 0.3, 0, 1), background-color 2.06s 0.88s; }
body #box div:nth-child(45) {
  transition: all 2.1s 1.1s cubic-bezier(0.7, 0.3, 0, 1), background-color 2.1s 0.9s; }
body #box div:nth-child(46) {
  transition: all 2.14s 1.12s cubic-bezier(0.7, 0.3, 0, 1), background-color 2.14s 0.92s; }
body #box div:nth-child(47) {
  transition: all 2.18s 1.14s cubic-bezier(0.7, 0.3, 0, 1), background-color 2.18s 0.94s; }
body #box div:nth-child(48) {
  transition: all 2.22s 1.16s cubic-bezier(0.7, 0.3, 0, 1), background-color 2.22s 0.96s; }
body #box div:nth-child(49) {
  transition: all 2.26s 1.18s cubic-bezier(0.7, 0.3, 0, 1), background-color 2.26s 0.98s; }
body #box div:nth-child(50) {
  transition: all 2.3s 1.2s cubic-bezier(0.7, 0.3, 0, 1), background-color 2.3s 1s; }
body #box div:nth-child(51) {
  transition: all 2.34s 1.22s cubic-bezier(0.7, 0.3, 0, 1), background-color 2.34s 1.02s; }
body #box div:nth-child(52) {
  transition: all 2.38s 1.24s cubic-bezier(0.7, 0.3, 0, 1), background-color 2.38s 1.04s; }
body #box div:nth-child(53) {
  transition: all 2.42s 1.26s cubic-bezier(0.7, 0.3, 0, 1), background-color 2.42s 1.06s; }
body #box div:nth-child(54) {
  transition: all 2.46s 1.28s cubic-bezier(0.7, 0.3, 0, 1), background-color 2.46s 1.08s; }
body #box div:nth-child(55) {
  transition: all 2.5s 1.3s cubic-bezier(0.7, 0.3, 0, 1), background-color 2.5s 1.1s; }
body #box div:nth-child(56) {
  transition: all 2.54s 1.32s cubic-bezier(0.7, 0.3, 0, 1), background-color 2.54s 1.12s; }
body #box div:nth-child(57) {
  transition: all 2.58s 1.34s cubic-bezier(0.7, 0.3, 0, 1), background-color 2.58s 1.14s; }
body #box div:nth-child(58) {
  transition: all 2.62s 1.36s cubic-bezier(0.7, 0.3, 0, 1), background-color 2.62s 1.16s; }
body #box div:nth-child(59) {
  transition: all 2.66s 1.38s cubic-bezier(0.7, 0.3, 0, 1), background-color 2.66s 1.18s; }
body #box div:nth-child(60) {
  transition: all 2.7s 1.4s cubic-bezier(0.7, 0.3, 0, 1), background-color 2.7s 1.2s; }
body #box div:nth-child(61) {
  transition: all 2.74s 1.42s cubic-bezier(0.7, 0.3, 0, 1), background-color 2.74s 1.22s; }
body #box div:nth-child(62) {
  transition: all 2.78s 1.44s cubic-bezier(0.7, 0.3, 0, 1), background-color 2.78s 1.24s; }
body #box div:nth-child(63) {
  transition: all 2.82s 1.46s cubic-bezier(0.7, 0.3, 0, 1), background-color 2.82s 1.26s; }
body #box div:nth-child(64) {
  transition: all 2.86s 1.48s cubic-bezier(0.7, 0.3, 0, 1), background-color 2.86s 1.28s; }
body #box div:nth-child(65) {
  transition: all 2.9s 1.5s cubic-bezier(0.7, 0.3, 0, 1), background-color 2.9s 1.3s; }
body #box div:nth-child(66) {
  transition: all 2.94s 1.52s cubic-bezier(0.7, 0.3, 0, 1), background-color 2.94s 1.32s; }
body #box div:nth-child(67) {
  transition: all 2.98s 1.54s cubic-bezier(0.7, 0.3, 0, 1), background-color 2.98s 1.34s; }
body #box div:nth-child(68) {
  transition: all 3.02s 1.56s cubic-bezier(0.7, 0.3, 0, 1), background-color 3.02s 1.36s; }
body #box div:nth-child(69) {
  transition: all 3.06s 1.58s cubic-bezier(0.7, 0.3, 0, 1), background-color 3.06s 1.38s; }
body #box div:nth-child(70) {
  transition: all 3.1s 1.6s cubic-bezier(0.7, 0.3, 0, 1), background-color 3.1s 1.4s; }
body #box div:nth-child(71) {
  transition: all 3.14s 1.62s cubic-bezier(0.7, 0.3, 0, 1), background-color 3.14s 1.42s; }

#dotanim {
  position: absolute;
  top: 5%;
  left: 0;
  background: url(../anim.svg);
  height: 150px;
  width: 16vw;
  background-size: cover; }

#dotanim2 {
  position: absolute;
  top: 45%;
  right: 0;
  margin-right: -30px;
  background: url(../anim.svg);
  height: 4vh;
  width: 25vh;
  transform: rotate(90deg);
  background-size: cover;
  background-position: 0% 20%; }

#lineani1 {
  position: absolute;
  top: 75%;
  left: 2.5%;
  background: url(../lineani.svg);
  height: 110px;
  width: 50px;
  background-size: cover; }

#lineani2 {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 21vh;
  margin-right: 40px;
  background: url(../lineani2.svg);
  height: 90px;
  width: 40px;
  transform: rotate(90deg);
  background-size: cover; }

#triani3 {
  position: absolute;
  top: calc(75% - 50px);
  width: 50px;
  height: 50px;
  left: 2.5%;
  background: url(../triangle.svg);
  transform: rotate(180deg); }

#triani4 {
  position: absolute;
  bottom: 0;
  width: 37px;
  height: 37px;
  right: 0;
  margin-bottom: calc(21vh + 26px);
  margin-right: 106px;
  background: url(../triangle2.svg);
  transform: rotate(90deg); }

#item {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: #262626;
  opacity: 1;
  pointer-events: all;
  padding: 50px 70px; }
  #item .header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center; }
    #item .header #item_title {
      display: block;
      background: #FC0C84;
      color: #fff;
      font-family: "Azo Sans Bold";
      padding: 5px 20px;
      font-size: 1.5em;
      text-transform: uppercase; }
      #item .header #item_title span {
        display: block;
        padding-top: 5px; }
    #item .header #back_to_landing {
      height: 50px;
      width: 50px;
      background: url(../img/close_white.svg) no-repeat center;
      background-size: contain;
      transition: 0.3s transform cubic-bezier(1, 0, 0, 1); }
      #item .header #back_to_landing:hover {
        transform: rotate(360deg); }
  #item #item_content {
    flex: 1;
    margin-top: 30px;
    overflow-y: auto; }

#contacts, #about, #dev {
  display: none; }

#events {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  transition: 0.4s top cubic-bezier(0.7, 0.3, 0, 1), 0.4s height cubic-bezier(0.7, 0.3, 0, 1); }
  #events.inactive {
    top: 100%;
    display: none; }

#abouttext {
  color: #ffffff;
  text-align: justify;
  font-family: "Azo Sans Regular";
  font-size: 1.4rem;
  padding: 1em; }

#item.inactive {
  opacity: 0;
  pointer-events: none; }

#Landing header nav #ham {
  width: 40px;
  height: 40px;
  background: url(../img/hamburger.svg) center no-repeat;
  display: none;
  padding-left: 100px;
  margin-top: 25px;
  transition: 0.2s transform cubic-bezier(1, 0, 0, 1); }
  #Landing header nav #ham:hover {
    cursor: pointer; }

#tilt {
  background: #2E2E2E;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transition: 0.7s background cubic-bezier(1, 0, 0, 1);
  transform: skew(-14deg); }
  #tilt.inactive {
    background: transparent; }

@media all and (orientation: portrait) {
  section#loader #frame {
    width: calc(95vw - 20px);
    height: calc(95vw - 20px); }
    section#loader #frame #box #realmsOfFiction {
      background-position: center; }
    section#loader #frame #box #o17 {
      width: 30px;
      height: 30px;
      top: 35%; }

  footer > ul {
    height: 45px; }
    footer > ul li {
      width: 50px;
      height: 40px; }

  section#loader #frame #box #realmsOfFiction {
    height: 25px; }
  section#loader #frame #box #date {
    position: relative;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-self: center; */
    top: 86%;
    /* margin: auto auto; */
    /* margin-left: 28%; */
    margin-top: 0.3rem;
    height: auto;
    width: 100%;
    font-size: 1rem;
    /* right: 4%; */
    font-family: Azo Sans Regular;
    /* background-color: red; */ }

  #Landing header nav #Register {
    margin-right: 20px; }

  section#loader #frame #box #realmsOfFiction {
    width: 100%;
    right: 0%; }

  #tilt {
    display: none;
    top: 87%;
    left: 0;
    transform: skewY(-14deg); }

  #lineani1, #lineani2, #triani3, #triani4, #dotanim, #dotanim2 {
    display: none; } }
@media all and (max-width: 1050px) {
  #Landing footer nav ul li {
    font-size: 0.7em;
    padding: 0 15px; }
  #Landing footer nav #Aftermovie {
    font-size: 0.7em; } }
@media all and (max-width: 790px) {
  #Landing footer nav, #Landing header nav ul {
    display: none; }

  footer > ul {
    align-self: center;
    margin-bottom: 20px; }

  #Events {
    top: 77%;
    font-size: 1.2em; }

  #Landing header nav #Register {
    font-size: 1.2em; }
  #Landing header nav #ham {
    display: block; }

  #item {
    padding: 30px 40px; } }
@media all and (max-width: 550px) {
  #Events {
    top: 75%; } }
@media all and (max-height: 550px) {
  #Landing footer nav {
    height: 35px; }

  section#loader #frame #box #o17 {
    width: 25px;
    height: 25px;
    top: 35%; } }
@keyframes flow {
  0% {
    background-color: rgba(255, 255, 255, 0); }
  30% {
    background-color: rgba(255, 255, 255, 0.47); }
  66% {
    background-color: rgba(255, 255, 255, 0.1); }
  100% {
    background-color: rgba(255, 255, 255, 0); } }
body #box2 {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  body #box2 div {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: 1s flow infinite;
    opacity: 0.1; }
    body #box2 div:nth-child(1) {
      animation-delay: 0.02s; }
    body #box2 div:nth-child(2) {
      animation-delay: 0.04s; }
    body #box2 div:nth-child(3) {
      animation-delay: 0.06s; }
    body #box2 div:nth-child(4) {
      animation-delay: 0.08s; }
    body #box2 div:nth-child(5) {
      animation-delay: 0.1s; }
    body #box2 div:nth-child(6) {
      animation-delay: 0.12s; }
    body #box2 div:nth-child(7) {
      animation-delay: 0.14s; }
    body #box2 div:nth-child(8) {
      animation-delay: 0.16s; }
    body #box2 div:nth-child(9) {
      animation-delay: 0.18s; }
    body #box2 div:nth-child(10) {
      animation-delay: 0.2s; }
    body #box2 div:nth-child(11) {
      animation-delay: 0.22s; }
    body #box2 div:nth-child(12) {
      animation-delay: 0.24s; }
    body #box2 div:nth-child(13) {
      animation-delay: 0.26s; }
    body #box2 div:nth-child(14) {
      animation-delay: 0.28s; }
    body #box2 div:nth-child(15) {
      animation-delay: 0.3s; }
    body #box2 div:nth-child(16) {
      animation-delay: 0.32s; }
    body #box2 div:nth-child(17) {
      animation-delay: 0.34s; }
    body #box2 div:nth-child(18) {
      animation-delay: 0.36s; }
    body #box2 div:nth-child(19) {
      animation-delay: 0.38s; }
    body #box2 div:nth-child(20) {
      animation-delay: 0.4s; }
    body #box2 div:nth-child(21) {
      animation-delay: 0.42s; }
    body #box2 div:nth-child(22) {
      animation-delay: 0.44s; }
    body #box2 div:nth-child(23) {
      animation-delay: 0.46s; }
    body #box2 div:nth-child(24) {
      animation-delay: 0.48s; }
    body #box2 div:nth-child(25) {
      animation-delay: 0.5s; }
    body #box2 div:nth-child(26) {
      animation-delay: 0.52s; }
    body #box2 div:nth-child(27) {
      animation-delay: 0.54s; }
    body #box2 div:nth-child(28) {
      animation-delay: 0.56s; }
    body #box2 div:nth-child(29) {
      animation-delay: 0.58s; }
    body #box2 div:nth-child(30) {
      animation-delay: 0.6s; }
    body #box2 div:nth-child(31) {
      animation-delay: 0.62s; }
    body #box2 div:nth-child(32) {
      animation-delay: 0.64s; }
    body #box2 div:nth-child(33) {
      animation-delay: 0.66s; }
    body #box2 div:nth-child(34) {
      animation-delay: 0.68s; }
    body #box2 div:nth-child(35) {
      animation-delay: 0.7s; }
    body #box2 div:nth-child(36) {
      animation-delay: 0.72s; }
    body #box2 div:nth-child(37) {
      animation-delay: 0.74s; }
    body #box2 div:nth-child(38) {
      animation-delay: 0.76s; }
    body #box2 div:nth-child(39) {
      animation-delay: 0.78s; }
    body #box2 div:nth-child(40) {
      animation-delay: 0.8s; }
    body #box2 div:nth-child(41) {
      animation-delay: 0.82s; }
    body #box2 div:nth-child(42) {
      animation-delay: 0.84s; }
    body #box2 div:nth-child(43) {
      animation-delay: 0.86s; }
    body #box2 div:nth-child(44) {
      animation-delay: 0.88s; }
    body #box2 div:nth-child(45) {
      animation-delay: 0.9s; }
    body #box2 div:nth-child(46) {
      animation-delay: 0.92s; }
    body #box2 div:nth-child(47) {
      animation-delay: 0.94s; }
    body #box2 div:nth-child(48) {
      animation-delay: 0.96s; }
    body #box2 div:nth-child(49) {
      animation-delay: 0.98s; }
    body #box2 div:nth-child(50) {
      animation-delay: 1s; }
    body #box2 div:nth-child(51) {
      animation-delay: 1.02s; }
    body #box2 div:nth-child(52) {
      animation-delay: 1.04s; }
    body #box2 div:nth-child(53) {
      animation-delay: 1.06s; }
    body #box2 div:nth-child(54) {
      animation-delay: 1.08s; }
    body #box2 div:nth-child(55) {
      animation-delay: 1.1s; }
    body #box2 div:nth-child(56) {
      animation-delay: 1.12s; }
    body #box2 div:nth-child(57) {
      animation-delay: 1.14s; }
    body #box2 div:nth-child(58) {
      animation-delay: 1.16s; }
    body #box2 div:nth-child(59) {
      animation-delay: 1.18s; }
    body #box2 div:nth-child(60) {
      animation-delay: 1.2s; }
    body #box2 div:nth-child(61) {
      animation-delay: 1.22s; }
    body #box2 div:nth-child(62) {
      animation-delay: 1.24s; }
    body #box2 div:nth-child(63) {
      animation-delay: 1.26s; }
    body #box2 div:nth-child(64) {
      animation-delay: 1.28s; }
    body #box2 div:nth-child(65) {
      animation-delay: 1.3s; }
    body #box2 div:nth-child(66) {
      animation-delay: 1.32s; }
    body #box2 div:nth-child(67) {
      animation-delay: 1.34s; }
    body #box2 div:nth-child(68) {
      animation-delay: 1.36s; }
    body #box2 div:nth-child(69) {
      animation-delay: 1.38s; }
    body #box2 div:nth-child(70) {
      animation-delay: 1.4s; }

@media all and (orientation: landscape) and (max-height: 500px) {
  footer > ul {
    height: 40px; }

  #Events {
    top: 70%; } }
@media all and (orientation: portrait) and (min-width: 551px) {
  section#loader #frame #box #date {
    margin-top: -3vh; } }
@media all and (orientation: landscape) and (max-height: 599px) {
  section#loader #frame #box #date {
    padding: 2.5vh; }

  #Events {
    margin-top: 2.5vh; }

  #dotanim {
    margin-top: 3vh;
    width: 20vw; } }
@media all and (max-height: 400px) {
  #dotanim2 {
    display: none; } }
@media all and (max-height: 200px) {
  #dotanim {
    display: none; } }
li#ViewEvent {
  opacity: 0.75;
  transition: all 1s linear; }
  li#ViewEvent:hover {
    cursor: pointer;
    opacity: 1; }

#Landing header nav #Register:hover, label {
  cursor: pointer; }

div.change.prev:hover, div.change.next:hover {
  cursor: pointer; }
#events_wrapper section #Polys{
  cursor: default;
}
/*# sourceMappingURL=loader.css.map */

/*# sourceMappingURL=loader.css.map */