body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #013148;
      font-weight: 600;
      margin-bottom: 30px;
  }

  h3 {
      font-size: 22px;
      color: #353535;
      font-weight: 400;
  }

  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 10px;
  }

  span{
    margin-right: 8px;
  }

  #title{
    margin-bottom: 0px;
  }

  #sub-title{
    color: #fff;
    font-size: 29px;
    font-weight: 400;
    margin-top: 0px;
  }

  .typewrite {
    margin-top: 30px;
    color:#fff;
    text-decoration: none;
    font-size: 34px;
    height: 2.75em;
  }

  .wrap {
    border-right: 0.15em solid #fff ;
  }

  .jumbotron {
      background-color: #013148;
      color: #fff;
      padding: 100px 25px;
      margin-bottom: 0px;
      font-family: Montserrat, sans-serif;
  }

  .landing{
      padding-top: 130px;
      padding-bottom: 70px;
      background: url('./img/bitsmun_logo.jpg') no-repeat center center;
      background-size: cover;
  }
  .container-fluid {
      padding: 50px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }

  #welcome-letter{
      padding: 0px;    
  }
  #welcome-letter h4{
    text-align: justify;
  }
#item {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: #262626;
  opacity: 1;
  pointer-events: all;
  padding: 50px 70px; }
  #item .header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center; }
    #item .header #item_title {
      display: block;
      background: #FC0C84;
      color: #fff;
      font-family: "Azo Sans Bold";
      padding: 5px 20px;
      font-size: 1.5em;
      text-transform: uppercase; }
      #item .header #item_title span {
        display: block;
        padding-top: 5px; }
    #item .header #back_to_landing {
      height: 50px;
      width: 50px;
      background: url(../img/close_white.svg) no-repeat center;
      background-size: contain;
      transition: 0.3s transform cubic-bezier(1, 0, 0, 1); }
      #item .header #back_to_landing:hover {
        transform: rotate(360deg); }
  #item #item_content {
    flex: 1;
    margin-top: 30px;
    overflow-y: auto; }
  .apply{
    position: relative;
  }

  .apply a{
    font-weight: 400;
    color: #013148;
    outline: none;
    border: 1px solid #013148;
    font-size: 1.3em;
    padding: 0.4em 0.8em;
    background: transparent;
    text-decoration: none;
    transition: 0.7s all;
    -webkit-transition: 0.7s all;
    -moz-transition: 0.7s all;
    -o-transition: 0.7s all;
    -ms-transition: 0.7s all;
  }

  .apply a:hover{
    border: 1px solid #013148;
    background:#013148;
    color:#fff;
  }

  .why-join-us p{
    color: #515151;
  }

  .why-join-us{
    padding: 0px;
  }

  .designation{
    margin-top: -10px;
    margin-bottom: 10px;
  }

  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #013148;
  }
  .carousel-indicators li {
      border-color: #013148;
  }
  .carousel-indicators li.active {
      background-color: #013148;
  }
  .carousel-indicators{
      position: relative;
      margin: 0px;
      margin-top: 25px;
      padding: 0px;
      width: 100%;
      left: 0;
  }
  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

  #googleMap{
    height: 400px;
  }

  #contact-details{
    margin-left: 35px;
    height: 400px;
  }
  #contact-details h4{
    font-size: 18px;
    color: #333;
    margin-bottom: 18px;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #013148;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #013148 !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #013148;
  }

  .social-buttons {
    bottom: 5px;
    position: absolute;
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  ul.social-buttons li {
      display: inline-block;
      margin-right: 10px;
  }

  .social-btn {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -o-border-radius: 50%;
      background: #2c3e50;
      display: inline-block;
      color: #fff;
      line-height: 46px;
      text-align: center;
  }

  .social-btn:hover, .social-btn:focus {
      background: #013148;
      color: #fff;
  }

  .social-btn i {
      font-size: 1.2em;
      line-height: inherit;
  }


  .personal-buttons{
    position: relative;
  }

  ul.personal-buttons{
    margin: 0px;
    padding: 0px;
  }

  .personal-buttons li{
    display: inline-block;
  }

  .personal-btn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    background: #2c3e50;
    display: inline-block;
    color: #fff;
    line-height: 35px;
    margin: 4px;
    margin-top: 0px;
    text-align: center;
  }

  .personal-btn:hover, .personal-btn:focus {
      background: #013148;
      color: #fff;
  }

  .personal-btn i {
      font-size: 1em;
      line-height: inherit;
  }

   .lg-scr{
     display: inline-block;
   }
   .sm-scr{
     display: none;
   }

  /* slide animation on scroll */
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
/*------------------*/

  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
    #contact-details{
      margin-left: 0px;
      height: auto;
    }
    .social-buttons {
      position: relative;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .apply{
      margin-top: 15px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }


/*------------------*/
@media screen and (max-width: 500px) { 
   .lg-scr{
      display: none;
   }
   .sm-scr{
     display: inline-block;
   }
 }
    
    
    
    
    